// Override this file to add your own SCSS styling.
.custom-publication-layout {
    display: flex;
    
    .section-heading {
      flex: 0 0 30%;  // Adjust the width of the left part (heading)
      padding-right: 20px;
    }
    
    .publication-list {
      flex: 0 0 70%;  // Adjust the width of the right part (actual list)
    }
  }